﻿@using Knjizara3.Models
@model IEnumerable<Bookstore>

@{
    ViewBag.Title = "List";
}

<h1>List of bookstories:</h1>
<table border="1">
    <tr><th>Id</th><th>Name</th></tr>
    @foreach (var bs in Model)
    {   
    <tr>
        <td> @bs.Id</td>
        <td> @bs.Name</td>
        <td> <a href="/Bookstore/books?id=@bs.Id">go to books </a></td>
    </tr>     
    }
</table>
<a href="/Bookstore/Index">Homepage bookstores</a>



