﻿@using Knjizara3.Models
@model IEnumerable<Genre>
@{
    ViewBag.Title = "Deleted";
}

<h1>List of deleted genres:</h1>
<table border="1">
    <tr><th>Id</th><th>Name</th></tr>
    @foreach (Genre g in Model)
    {
        if (g.Deleted)
        {
            <tr>
                <td> @g.Id</td>
                <td> @g.Name</td>
            </tr>
        }

    }
</table>
<a href="/Genre/List">Show all genres</a> |
<a href="/Book/Index">Homepage</a>