﻿
@{
    ViewBag.Title = "Index";
}

<hr />
<h1>Genre:</h1>
<hr />
<form method="post" action="/Genre/AddGenre">
    <table border="1">
        <tr><th colspan="2" align="justify">Add new genre</th></tr>
        <tr><th align="left"> Name of genre:</th><td><input type="text" required name="NameOfGenre" /></td></tr>
        <tr><th colspan="2" align="right"><input type="submit" value="Add" /></th></tr>
    </table>
</form>
<a href="/Book/Index">Homepage</a>