﻿@using Knjizara3.Models
@using Knjizara3.ViewModels
@model BookGenreViewModel
@{
    ViewBag.Title = "Edit";
}

<hr />
<h1>Book - Edit:</h1>
<hr />
<form method="post" action="/Book/Edit">
    <table border="1">
        <tr><th colspan="2" align="justify">Edit book</th></tr>
        <tr><th align="left"> Name of book:</th><td><input type="text" required name="Book.Name" value="@Model.Book.Name" /></td></tr>
        <tr><th align="left"> Price of book:</th><td><input type="text" required name="Book.Price" value="@Model.Book.Price" /></th>
            <td><input type="hidden" required name="Book.Id" value="@Model.Book.Id" /></td></tr>
        <tr><th align="left"> Genre of book:</th>
            <td>
                <select name="SelectedGenreId">
                    @foreach (Genre item in Model.Genres)
                    {

                        if (item.Id == Model.Book.Bookgenre.Id)
                         {
                            <option selected value="@item.Id">@item.Name</option>
                         }
                            else
                             {
                                 <option value="@item.Id">@item.Name</option>
                             }
                    }
                </select>
            </td>
        </tr>
        <tr><th colspan="2" align="right"><input type="submit" value="Save" /></th></tr>

    </table>
</form>
<a href="/Book/List">Show all books </a>


