﻿@using Knjizara3.Models
@model IEnumerable<Book>
@{
    ViewBag.Title = "List";
}

<h1>List of books:</h1>
<table border="1">
    <tr><th>Id</th><th>Name</th><th>Price</th><th>Genre</th></tr>
    @foreach (var b in Model)
    {
        if (!b.Deleted)
        {
            <tr>
                <td> @b.Id</td>
                <td> @b.Name</td>
                <td> @b.Price</td>
                <td> @b.Bookgenre.Name</td>
                <td>
                    <a href="/Book/Delete?id=@b.Id">delete </a> |
                    <a href="/Book/Edit?id=@b.Id">edit </a>
                </td>
            </tr>
        }
    }
</table>

<form method="get" action="/Book/List">
    <select name="sortby">
        <option value="NameUp"> name up </option>
        <option value="NameDown">name down</option>
        <option value="PriceUp">price up</option>
        <option value="PriceDown">price down</option>
        <option value="IdUp">id up</option>
    </select>
    <input type="submit" value="sort" />
</form>

    <a href="/Book/Index">Homepage books</a> |
    <a href="/Bookstore/List">Homepage bookstores</a>
